@media (min-width: 768px) {

.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    div { 
        border: 1px solid #1A1C20;
        border-radius: 1rem;
        background-color: #25282E;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

}

.grid h1 { 
    color: #6A03BB;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1;  
}

.grid p { 
    color: white;
}
}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 100%);
        grid-template-rows: 1fr;
        overflow-x: auto;
        gap: 1rem;
    }

    .grid > div {
        border: 1px solid #1A1C20;
        border-radius: 1rem;
        background-color: #25282E;
        padding: 2rem;
        min-width: 0;
        box-sizing: border-box;
    }

    .grid h1 { 
        color: #6A03BB;
        font-weight: 800;
        font-size: 2rem;
        line-height: 1;  
    }

    .grid p { 
        color: white;
    }
}
